<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <data-source>
        <name>java:global/myds</name>
        <class-name>com.mysql.cj.jdbc.MysqlXADataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>3306</port-number>
        <database-name>masterdb</database-name>
        <url>jdbc:mysql://192.168.0.36:3306/masterdb?sslMode=DISABLED</url>
        <user>root</user>
        <password>helloroot</password>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>2</min-pool-size>
    </data-source>
</web-app>
